<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" th:with="activeTab='MASTER',level1='ADMIN'">
<body>
<div layout:fragment="content">
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Beranda</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Master</a></li>
        <li class="breadcrumb-item active"><a href="javascript:;">Admin</a></li>
    </ol>
    <h1 class="page-header">Admin</h1>
    <hr class="bg-grey-lighter" />
    <div class="row">
        <div class="col-md-12 p-b-10">
            <a th:href="@{/master/admin/form}" class="btn btn-primary">Tambah Admin</a>
        </div>
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="table-basic-1">
                <div class="panel-body">
                    <form th:action="@{/master/admin}">
                        <div class="input-group input-group-sm m-b-20">
                            <input type="text" class="form-control" th:value="${name}" placeholder="Cari ...">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search fa-fw"></i> Search</button>
                            </div>
                        </div>
                    </form>
                    <hr/>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Nama Lengkap</th>
                                <th>Username</th>
                                <th>Role</th>
                                <th class="text-center">Active</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Administrator</td>
                                <td>admin</td>
                                <td>ADMIN</td>
                                <td class="text-center"><span class="fa fa-check"></span></td>
                                <td class="text-center">
                                    <a th:href="@{/master/admin/form}" class="btn btn-label-warning btn-sm" title="Edit"><span class="fa fa-edit"></span></a>
                                </td>
                            </tr>
<!--                            <tr th:if="${#lists.isEmpty(datas.content)}">-->
<!--                                <td colspan="6" class="text-center">No data</td>-->
<!--                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>

<!--                <div class="panel-footer"  th:unless="${#lists.isEmpty(datas.content)}">-->
<!--                    <div th:include="fragments/pagination :: pagination" th:remove="tag">paging</div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>
